@font-face {
  font-family: MrsSaintDelafieldRegular;
  src: url(../../fonts/MrsSaintDelafield-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: OldStandardBold;
  src: url(../../fonts/OldStandard-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: OldStandardItalic;
  src: url(../../fonts/OldStandard-Italic.ttf);
  font-display: swap;
}
@font-face {
  font-family: OldStandardRegular;
  src: url(../../fonts/OldStandard-Regular.ttf);
  font-display: swap;
}